name: deploy
on:
  push:
    branches:
      - master
  workflow_dispatch:
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install -r requirements.txt
      - name: Install security-101-plugins
        run: |
          git submodule sync
          git submodule update --remote
          cd security-101-plugins
          pip install -e .
          cd ..
      - run: mkdocs gh-deploy --force
